.loginContainer {
  display: flex;
  height: 100vh;
  background-color: #121212;
}

.sliderContainer {
  flex: 1;
}

.loginForm {
  flex: 1;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.loginLogo {
  width: 100px;
  height: 100px;
  animation: spin 3s infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
