/* MusicPlayer.module.scss */

.musicPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 2000px;
  gap: 10px;
  margin-right: 5rem;
}

.musicImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.musicDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.musicTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -4px;
  justify-content: flex-start;
}

.musicSubtitle {
  font-size: 14px;
  color: #ccc;
}

.heartIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.controlsAndTimeline {
  display: flex;
  width: 70%;
  flex-direction: column; /* Place les contrôles de musique au-dessus de la barre de durée */
}

.playerControls {
  display: flex;
  flex-direction: row; /* Remet les boutons de contrôle de la musique dans une rangée */
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 10px;
  cursor: pointer;
  outline: none;
}

.controlButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.controlButton img {
  width: 35px;
  height: 35px;
}

.timeline {
  width: 100%;
  height: 8px;
  background-color: #b3b3b3;
  border-radius: 8px;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.progressFilled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4512bd; /* Couleur de remplissage de la barre */
  transition: width 0.3s ease; /* Transition pour une animation fluide */
  border-radius: 8px;
}

.volumeControl {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volumeIcon {
  width: 24px;
  height: 24px;
}
