/* PlaylistList.module.css */

.playlistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  max-height: 620px;
  /* Hauteur maximale pour le défilement */
  overflow-y: auto;
  /* Activation du défilement vertical si nécessaire */
  background-color: #121212;
  border-radius: 10px;
  padding: 5px;
}

.playlistButton {
  // gap: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #121212;
  color: #fff;
  font-size: 16px;
  height: 80px;
  width: 350px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Ajout d'une transition pour l'effet au survol */
}

.playlistImage {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 16px;
}

.playlistText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.playlistTitle {
  font-size: 24px;
  // font-weight: bold;
  color: white;
}

.playlistSubtitle {
  font-size: 14px;
  color: #ccc;
}

.sortButtons {
  display: flex;
  gap: 0.5rem;
}

.sortButton {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  height: 40px;
  width: 170px;
  font-size: 16px;
}

.sortButton:hover {
  background-color: #4512bd;
}

.playlistButton:hover {
  background-color: #4512bd;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #121212;
  padding: 10px 0;
}
