/* Home.module.css */

.container {
  display: flex;
  height: calc(
    100vh - 150px
  ); /* Ajustement de la hauteur pour tenir compte de la section inférieure */
}

.leftSection {
  flex: 1;
  padding: 5px;
  background-color: #212121;
  border-radius: 10px;
  margin: 0.5rem;
  overflow-y: auto; /* Activation du défilement vertical si nécessaire */
}

.logo {
  width: 100px;
  height: 100px;
}

.centerSection {
  flex: 3;
  padding: 5px;
  background-color: #212121;
  border-radius: 10px;
  margin: 0.5rem 0.1rem;
  gap: 5rem;
}

.rightSection {
  flex: 1;
  padding: 5px;
  background-color: #212121;
  border-radius: 10px;
  margin: 0.5rem;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.bottomSection {
  height: 50px;
  background-color: #212121;
  border-radius: 10px;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  overflow: hidden; /* Empêche l'affichage de la barre de défilement */
}
